.background {
    background-color: rgb(189, 28, 28);
    height: 80px;
    position:relative;
    width: 100%;
}

.date {
    font-size: 9;
    position:absolute;
    border:1px solid;
    margin:0;
    padding:5px;
    color: rgb(255, 254, 254);
    font-family: "Helvetica", "Courier New", "Times";
    font-size: 16px;
    top:0;
    left:0;   
}

.title {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 45%;
    color: rgb(255, 254, 254);
    font-family: "Helvetica";
    font-weight: bold;
}