.background {
    background-color: rgb(255, 255, 255);
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.category {
    color: rgb(39, 43, 40);
    background-color: inherit;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-family: "Helvetica", "Courier New", "Times";
    font-weight: bold;
    padding: 0px 22px;
    border: none;
    font-size: 16px;
}

.category:hover {
    cursor: pointer;
  }